<table class="table table-bordered" >
  <thead class="thead-inverse">
    <tr>
      <th>作者</th>
      <th>標題</th>
      <th>內容</th>
      <th>建立時間</th>
    </tr>
  </thead>
  <tbody>
    <% @user_posts.each do |post| %>
      <tr>
        <td><%= post.user_id %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.created_at %></td>
    <% end %>
  </tbody>
</table>

  
