<div class="row">
<%# binding pry %>
<% @categories.each do |category| %>
  <div class="col-lg-6">
    <ul class="list-unstyled">
      <li><a href="#"><%= category.name %></a></li>
    </ul>
  </div>
<% end %>
</div>