<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "JBlog", users_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to '新增使用者', new_user_path %></li>
        <li><%= link_to '新增文章', new_post_path %></li>
      </ul>
    </div>
  </div>
</nav>
